<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../Css/Estilos.css">
    <script src="https://kit.fontawesome.com/b59d19b6f4.js" crossorigin="anonymous" rel="stylesheet"></script>
</head>
<body>
<header>
    <div class="superior">
    <nav class="Letras">
        <table>
            <td class="z"><div><a href="">Menú</a></div></td>
            <td class="z"><a href="">Promociones</a></td>
            <td class="z">
                <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
            </td>
            <td><a href="Index.html"><img src="../images/Logotipo.gif" class="Logo", width="53%"></a></td>
            <td class="z">
                <a href="Registro.php"><i class="fa-solid fa-user"></i></a>
            </td>
            <td class="z"><a href="">Restaurantes</a></td>
            <td class="z"><a href="">Adicional</a></td>
        </table>
    </nav>
    </div>
</header>
</body>
</html>