

.form-control {
  display: block;
  width: 38%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: inset 17 17 17 rgba(6, 38, 107, 0.11);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::placeholder {
  color: #939ba2;
  opacity: 1;
}
.btn {
  font-size: 1rem;
  font-family: Georgia;
  font-weight: 500;
  border-radius: 0.5rem;
}

.btn-info {
  cursor: pointer;
  color: #fff;
  padding: 15px;
  background-color: #17a2b8;
  border-color: #17a2b8;
  box-shadow: none;
}

.btn-info:hover {
  color: #4cfa63;
  background-color: #138496;
  border-color: #117a8b;
}

.btn-default {
  background-color: #f8f9fa;
  border-color: #ddd;
  padding: 15px;
  color: #444;
  float: right;
}

.backpart {
  background-color: #11290994;
  outline-color: #11290994;
  outline-style: solid;
  outline-width: 1.5rem;
}
.card-header {
  position: relative;
  bottom: 1.8rem;
  padding: 1.25rem 0rem;
  text-align: center;
  background-image: url("../images/Restaurante1.jpg");
  background-repeat: no-repeat;
  color: #fff;
  font-variant: small-caps;
  width: 100%;
  z-index: -1;
  margin: auto;
}

.card-title {
  font-size: 1.8vw;
  font-weight: bolder;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.75rem 1.25rem;
  background-color: rgba(236, 250, 232, 0.76);
}

.card-footer {
  position: relative;
  top: 0.72rem;
  right: 1.25rem;
  width: 100%;
  padding: 0.75rem 1.25rem;
  background-color: rgba(17, 41, 9, 0.58);
  border-top: 0 solid rgba(17, 41, 9, 0.125);
}

.card-info {
  position: relative;
  bottom: 1.8rem;
  object-fit: contain;
  border-block: 0.5rem solid #00000098;
  border-block-start-width: 0.3rem;
  background-image: url("../images/Restaurante1.jpg");
  background-size: 100vw 44vw;
  background-repeat: no-repeat;
}

.form-horizontal{
  position: relative;
  outline-color: rgba(73, 80, 87,0.50);
  outline-style: inset;
  margin: auto;
  width: min-content;
}

#Doble1, #Doble2, #Doble3,
#Doble4, #Doble5, #phone, #pass, 
#Confpass {
  width: 20vw;
}

#gmail {
  width: 23vw;
}

#Doble5, .ubi {
  position: relative;
  left: 5rem;
}

.doble, .double, .troble {
  display: flex;
  flex-direction: row;
}

.input-titles {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-family: Cambria, Cochin, fantasy;
  font-style: oblique;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  text-align: center;
  white-space: nowrap;
  background-color: #d5e6d9;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: fit-content;
}

.input-alone {
  position: relative;
  left: 15vw;
}

.input-doble {
  padding-top: 2rem;
  padding-right: 6vw;
  width: 28rem;
}

.input-alone, .input-doble{
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5vw;
}

.input-position {
  width: 60vw;
}

.terms, .return {
  display: flex;
  flex-direction: row;
  flex-grow: 2rem;
  font-family: Cambria, Cochin, fantasy;
  font-size: 1rem;
  margin-left: 20vw;
}

.return {
  padding: 1rem;
  margin-left: 21vw;
}
p {
  margin-left: 1vw;
}
